* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 800vh
}

.space {
  height: 100vh;
}
.gradient-black-top {
  background: linear-gradient(to bottom, #000, transparent);
}
.gradient-black-bottom {
  background: linear-gradient(to bottom, transparent, #000);
}
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: #000;
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* min-width: 100%;
  min-height: 100%; */
  z-index: -100;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  width: 100%;
}
.texts-box {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
}
.text {
  font-size: 2rem;
  width: 70%;
}
.top-left {
  padding: 2%;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0 auto;
}
.bottom-right {
  padding: 2%;
  grid-area: 2 / 2 / 3 / 3;
  margin: 0 auto;
}
.video-box {
  position: relative;
  z-index: 1;
}
.video {
  width: 100%;
  height: 100%;
  display: block;
}
#rotate {
  width: 100%;
}
.text-box {
  padding: 4% 2%;
  min-height: 100vh;
  background-color: #000;
}
.header-box {
  min-height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  text-align: center;
  margin-bottom: 1%;
  font-size: 72px;
  text-transform: uppercase;
}
.text-content {
  -moz-column-count: 2;
  column-count: 2;
  gap: 4%;
  font-size: 32px;
  text-align: left;
}
.control-box {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
.play-pause-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: transparent;
}
.play-pause-img {
  width: 20px;
  height: 20px;
}
.play-progress-circle {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 40px;
  height: 40px;
  fill: transparent;
  stroke: #fff;
  stroke-width: 6px;
  stroke-linecap: round;
  transform: rotate(-90deg);
}
.progress-background {
  stroke: #86868b;
}
.progress-circle {
  fill: transparent;
  stroke: #fff;
  transition: stroke-dashoffset 0.3s ease;
}







@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .texts-box {
    grid-template-columns: 1fr;
  }
  .top-left, .bottom-right {
    grid-area: unset;
    width: 90%;
  }
  .header {
    font-size: 38px;
  }
  .text-content {
    -moz-column-count: 1;
    column-count: 1;
    font-size: 16px;
  }
}
